* {
  color: white;
}

.container {
  margin-left: 20px;
}

.input {
  display: flex;
}

.emailInput {
  height: 30px;
  width: 240px;
  border: none;
  color: white;
  background-color: rgb(49, 10, 40);
  border: none;
}

.inputPassword {
  height: 30px;
  width: 200px;
  border: none;
  color: white;
  background-color: rgb(49, 10, 40);
  border: none;
}
input:focus {
  outline: none;
}

.icon {
  background-color: rgb(49, 10, 40);
  height: 32px;
  width: 40px;
  color: grey;
  padding-right: 5px;
}

.btn {
  height: 40px;
  width: 150px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  border: none;
}
li {
  list-style: none;
}
.mark {
  color: green;
}

button:disabled,
button[disabled] {
  height: 40px;
  width: 150px;
  border-radius: 8px;
  border: none;
  background-color: blue;
  color: #666666;
}

/* button{
  color: white;
  background-color: rgb(42, 5, 33);
  height: 40px;
  width: 150px;
  border-radius: 8px;
  border: none;
} */

button {
  border: none;
}
